<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CaptainPrice</title>

    <link rel="stylesheet" href="../static/styles/index.css">
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.10/css/all.css" crossorigin="anonymous">

</head>
<body>

<div id="name">CaptainPrice</div>

<div class="type">
    <div>
            <input type="checkbox" name="laptop" id="laptop" checked>
            <label for="laptop"><i style='font-size:35px' class='fa fa-laptop'></i></label>
    </div>
</div>

<div class="search">
    <h1>Поиск</h1>
    <form action="{{ url_for('get_laptops') }}" method="post">
        <input type="text" placeholder="Введите товар для поиска..." name="item_to_search">
        <input type="submit"  value="Сравнить">
    </form>
</div>

<div class="info">
        <h1>Выберите тип продукта</h1>
        <i style='font-size:15px' class='fa fa-play'></i>
        <h1>Введите название товара</h1>
        <i style='font-size:15px' class='fa fa-play'></i>
        <h1>Сравнивайте цены</h1>
</div>

</body>
</html>