body{
    background-color: #272b2f;
    font-family: "Helvetica Neue", sans-serif;
}

div{
    position: center;
}

h1{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    color: azure;
}

.info{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 38px;
    margin-top: 5%;
}

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"]{
    background: azure;
    width: 79%;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input[type="submit"]{
    position: relative;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 20%;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: chocolate;
}

#name{
    color: azure;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 54px;
}

.type{
    border-radius: 10px;
    border: 2px solid chocolate;
    margin: 20px 30% 0 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

i{
    color: azure;
    padding: 0 20px 10px 20px;
}

.type i{
    cursor: pointer;
    padding: 20px;
    color: azure;
    transition: 1s;
}

.type i:hover{
    border-radius: 40px;
    background-color: chocolate;
}

.search{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}